.topbar {
  width: 100%;
  /* background-color: rgb(19, 110, 146); */
  position: sticky;
  top: 0%;
  height: 50px;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  z-index: 999;
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
  background-image: radial-gradient(
    circle 248px at center,
    #16d9e3 0%,
    #30c7ec 47%,
    #46aef7 100%
  );
}
.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}
.topLeft {
  /* color: #fff; */
  font-family: "Lora", serif;
  font-weight: bold;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: "Lora", serif; */
}

.topCenter {
  flex: 6;
}
.topImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  cursor: pointer;
}
.topList {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}
.searchIcon {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  margin-left: 15px;
}
.logout {
  background-color: turquoise;
  border-radius: 5px;
  padding: 5px;
}
