.singlePost {
  flex: 9;
}
.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
}
.singlePostImg {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}
.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-family: "Lora", serif;
  font-size: 28px;
}
.singlePostTitleInput {
  text-align: center;
  margin: 10px;
  font-family: "Lora", serif;
  font-size: 28px;
  border: none;
  border-bottom: 1px solid lightgray;
  color: #808080;
}

.singlePostTitleInput:focus {
  outline: none;
}
.singlePostEdit {
  float: right;
  font-size: 16px;
}
.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}
.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}
.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: #cec365;
  font-family: "Varela Round", sans-serif;
}
.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 24px;
}
.singlePostDesc::first-letter {
  font-weight: 600;
  margin-left: 20px;
  font-size: 30px;
}
.singlePostDescInput {
  border: none;
  color: #666;
  font-size: 18px;
  line-height: 24px;
}
.singlePostDescInput:focus {
  outline: none;
}
.singlePostbutton {
  border: none;
  background-color: rgb(35, 172, 172);
  padding: 5px;
  width: 100px;
  color: #fff;
  border-radius: 5px;
  align-self: flex-end;
  margin-top: 20px;
  cursor: pointer;
}
